@font-face {
    font-family: "BaksoSapi";
    src: local("BaksoSapi"),
    url("./assets/BaksoSapi.otf") format("truetype");
    font-weight: bold;
}

.teamContainer {
    position: relative;
    width:100%;
    background: #1876D1;
}

.teamContainer .teamIconContainer{
    position: relative;
}
.teamContainer .teamIconContainer .duckIcon{
    width: 100%;
}
.teamContainer .teamInfoContainer{
    font-family: BaksoSapi;
    text-align: center;
    margin-bottom: 5vh;
}

.teamContainer .teamInfoContainer h1{
    color: white;
    text-shadow: 5px 5px #282c34;
}

.teamContainer .teamInfoContainer h2{
    color: #f1bb00;
    text-shadow: 4px 4px #282c34;
}
